*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-container{
    flex-basis: 25%;
    background-color: #362159;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
}
.home button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: #FFFFFF;
}
.home:hover{
    background-color: #dee1ec;
    color: crimson;
}
.add-patient{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
}
.add-patient button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: #FFFFFF;
}
.add-patient:hover{
    background-color: #dee1ec;
    color: crimson;
}
.veiw-patients{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
}
.veiw-patients button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: #FFFFFF;
}
.veiw-patients:hover{
    background-color: #dee1ec;
    color: crimson;
}

.right-container{
    width: 100%;
    background-color: lightblue;
   
}

.top-head{
    width: 100%;
    height: 60px;
    background-color: #dee1ec;
    padding: 0;
    margin: 0;
}
.top-head h1{
    margin-top: 13px;
    margin-left: 10px;
    font-weight: 600;
}
/*---------contact------------*/

.patient-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
}

.patient-details{
    position: relative;
    display: flex;
    max-width: 600px;
    width: 100%;
    margin-top: 20vh;
    border: 2px solid #17b978;
}

.left-side{
    width: 40%;
    background: #17b978;
    text-align: center;
    display: flex;
}

.left-side img{
    width: 150px;
    height: 100px;
    margin-top: 100px;
}

.title-register{
    margin: auto;
    color: #fff;
    font-size: 40px;
}

.title-register i{
    margin: 10px;
    font-size: 4rem;
    transition: 0.5s;
}

.title-register i:hover{
    color: crimson;
}

.title-register a{
    text-decoration: none;
    color: darkred;
}

.right-side{
    width: 60%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.right-side input{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.right-side inputTxetarea{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.right-side .send{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: goldenrod;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-top: 10px;
}


.right-side p{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

